*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background: #585858;
}

.container{
    margin: 30% auto;
    box-shadow: 0px 0px 30px -15px white;
}

form{
    display: grid;
    padding: .125rem;
}

.textview{
    width: 15rem;
    height: 2.5rem;
    padding: .2em;
    font-size: 1.8em;
    border: none;
    outline: none;
    background: #b1dde7;
    color: #355b61;
}

.btn-wrapper{
    display: grid;
    grid-gap: .125rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: .05rem .125rem .125rem .125rem;
}

.btn-wrapper input{
    font-size: 1.8em; 
    padding: .75rem;
    cursor: pointer;
    border: none;
    background: #3e6970;
    color: #b1dde7;
    outline: none;
}

.btn-wrapper input:hover{
    background: #528892;
}

.btn-wrapper input:nth-child(2),
.btn-wrapper input:nth-child(16){
    font-size: 1.5em;
}

.btn-wrapper input:nth-child(4){
    font-size: 2em;
    padding: 0;
    padding-top: 1rem;
}

.btn-wrapper input:nth-child(19){
    grid-column: 3 / 5;
    grid-row: 5 / 5; 
}
