*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    padding-top: 5rem;
}

.container{
    margin: 0 auto;
    border: 1px solid red;
}

form{
    display: grid;
    padding: .125rem;
}

.textview{
    width: 15rem;
    height: 2.5rem;
    padding: .2em;
    font-size: 1.8em;
}

.btn-wrapper{
    display: grid;
    grid-gap: .125rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 .125rem .125rem .125rem;
}

.btn-wrapper input{
    font-size: 1.8em; 
    padding: .75rem;
    cursor: pointer;
}

.btn-wrapper input:nth-child(4){
    font-size: 2em;
    padding: 0;
    padding-top: 1rem;
}

.btn-wrapper input:nth-child(16){
    grid-column: 4 / 5;
}

.btn-wrapper input:nth-child(19){
    grid-column: 3 / 5;
    grid-row: 5 / 5; 
}
